.main{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    height: 100%;     
}

.main .container__header{
    min-width: 1080px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #212529;        
}

.main .container__table {
    min-width: 1080px;
    tbody{
        cursor: pointer;
    }
}