.main{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    height: 100%;
        
}

.main .container__header{   
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #212529;        
}

.main .container__table {
    width: 960px;   
    tbody{        
      cursor: pointer;
    }
}
.button-plus:hover{
    color: rgb(155, 238, 147);
    cursor: pointer;
}
@media (max-width:768px) {
  .main{ 
   max-width: 768px;  
  }
  .container__header{   
    max-width: 600px;
  }
  .main .container__table{
    width: 600px;   
  }  
}
@media (max-width:500px) {
  .main{ 
   max-width: 400px;  
  }
  .container__header{  
    max-width: 360px;
  }
  .main .container__table{
    width: 360px;   
  }
  .table-index{
    display: none;
  }
  .table-price{
    display: none;
  }    
}
